

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>workout</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <div class="all-apps-body">
      <div class="all-apps-header">
        <h1>Your Workout</h1>
        <a class="add-app-link" href="/users/<%=user._id%>/workouts/new">Add Workout</a>
      </div>
    <ul>
      <% workouts.forEach((workout)=>{ %>
        <li>
         
          <a href="/users/<%= user._id %>/workouts/<%= workout._id %>">
              <%= workout.name %> : <%= workout.type %>
          </a>
        </li>
      <% }) %>
     
    </ul>
    

</body>
</html>