

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/stylesheets/show.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= workout.name %></title>
</head>

<body>
<%- include('../partials/_navbar.ejs') %>
  <div class="show-body">
    <div class="show-header">
  
  <div class="show-notes-container">
    <h1><%= workout.name %> Workout</h1>
  <p>Workout Type: <%= workout.type %></p>
  <% if (workout.date) { %>
    <p>Date: <%= workout.date.toDateString() %></p>
  <% } %>

  <% if (workout.duration) { %>
    <p>Duration: <%= workout.duration %> minutes</p>
  <% } %>

    <div>
      <p>Exercises : </p>
      <% if (workout.exercises1) { %>
      <ul> <p><%= workout.exercises1 %></p></ul> 
      <% } %>
      <% if (workout.exercises2) { %>
        <ul>  <p><%= workout.exercises2 %></p></ul>
      <% } %>
      <% if (workout.exercises3) { %>
        <ul>  <p><%= workout.exercises3 %></p></ul>
      <% } %>
      <% if (workout.exercises4) { %>
        <ul> <p><%= workout.exercises4 %></p></ul>
      <% } %>
      <% if (workout.exercises5) { %>
        <ul> <p><%= workout.exercises5 %></p></ul>
      <% } %>
    </div>
  </div>
  <div class="show-sidebar">
    <div class="show-actions">
  <a href="/users/<%= user._id %>/workouts/<%= workout._id %>/edit">
    Edit this Workout
  </a>
  <form
  action="/users/<%= user._id %>/workouts/<%= workout._id %>?_method=DELETE"
  method="POST"
>
  <button type="submit">Delete this Workout</button>
</form>
</div>
</div>
</div>
</div>


</body>
</html>