<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>User Profile</title>
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <div class="profile-container">
    <h1>User Profile</h1>
    <div class="profile-details">
      <p>Name: <%= user.name %></p>
      <p>Gender:<%= user.gender %></p>
      <p>Current Weight:<%= user.currentweight %> kg</p>
      <p>Goal Weight:<%= user.goalweight %> kg</p>
      <p>Height: <%= user.height %> cm</p>
      <p>Goal: <%= user.goal %></p>
    </div>
    </div>
  </div>
</body>
</html>
